SANITY_PROJECT_ID=
SANITY_DATASET=development
SANITY_API_VERSION=2025-01-01
SANITY_USE_CDN=true

# Optional: set true only on preview deployments
SANITY_PREVIEW_DEPLOY=false

# Required for previewing drafts
SANITY_API_READ_TOKEN=
